# Jordi Blasco Lozano

In [79]:
import pandas as pd

## 6.1 Creacion de DataFrames
   ### 6.1.1. Creacion de un DataFrame a partir de un diccionario:

In [80]:
padelWorldCupDicc = {
    'equipoID':     [1,2,3,4,5,6,7,8,9,10],
    'nombreEq':     ['electroingenieros','termonuecleares','ElPAPITO','LosPibes','herculanos','Palilleros','MaurosTeam','ParricaElMejor', 'Ganadores','UltraTeam'],
    'nombreJug1':   ['Juan','Pedro','Pablo','Elena','Carlos','Federico','Mauro','Parra','Gonzalo','Ulises'],
    'nombreJug2':   ['Pedrito','Adrian','Elena','Blanca','Ana','Carlos','Alex','Teresa','Paco','Luis'],
    'setsGanados':  [8,4,6,3,7,4,6,5,9,4],
    'setsPerdidos': [4,8,3,6,3,6,3,4,2,6],
    'DifJuegos':    [4,-4,3,-3,4,-2,3,1,7,-2],
    'partidosGanados': [2,1,2,1,2,1,2,2,3,1],
    'dineroGenerado': [300, 200, 250, 150, 300, 200, 250, 300, 400, 200],
    'mediaEspectadoresPorEquipo': [1000, 800, 900, 700, 1000, 800, 900, 1000, 1200, 800], #se calcula dividiendo entre 2 el total de espectadores de los enfrentamientos de cada equipo
    'entradasVendidasPorEquipo': [100, 80, 90, 70, 100, 80, 90, 100, 120, 80], #se calcula dividiendo entre 2 el total de entradas vendidas de los enfrentamientos de cada equipo
    'enfrentamientosJugados': [[1, 2, 3],[5, 6, 7],[1, 5, 9],[2, 6, 10],[3, 7, 8],[4, 9, 5],[6, 7, 8],[1, 4, 10],[2, 3, 9],[4, 5, 6]],
}

dfPadelWorldCupDicc = pd.DataFrame(padelWorldCupDicc)
dfPadelWorldCupDicc

,equipoID,nombreEq,nombreJug1,nombreJug2,setsGanados,setsPerdidos,DifJuegos,partidosGanados,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo,enfrentamientosJugados
0,1,electroingenieros,Juan,Pedrito,8,4,4,2,300,1000,100,"[1, 2, 3]"
1,2,termonuecleares,Pedro,Adrian,4,8,-4,1,200,800,80,"[5, 6, 7]"
2,3,ElPAPITO,Pablo,Elena,6,3,3,2,250,900,90,"[1, 5, 9]"
3,4,LosPibes,Elena,Blanca,3,6,-3,1,150,700,70,"[2, 6, 10]"
4,5,herculanos,Carlos,Ana,7,3,4,2,300,1000,100,"[3, 7, 8]"
5,6,Palilleros,Federico,Carlos,4,6,-2,1,200,800,80,"[4, 9, 5]"
6,7,MaurosTeam,Mauro,Alex,6,3,3,2,250,900,90,"[6, 7, 8]"
7,8,ParricaElMejor,Parra,Teresa,5,4,1,2,300,1000,100,"[1, 4, 10]"
8,9,Ganadores,Gonzalo,Paco,9,2,7,3,400,1200,120,"[2, 3, 9]"
9,10,UltraTeam,Ulises,Luis,4,6,-2,1,200,800,80,"[4, 5, 6]"

### 6.1.2. Creacion de un DataFrame a partir de una lista de diccionarios:

In [81]:
padelWorldCupListDicc = [
    {'equipoID': 1, 'nombreEq': 'electroingenieros', 'nombreJug1': 'Juan', 'nombreJug2': 'Pedrito', 'setsGanados': 8, 'setsPerdidos': 4, 'DifJuegos': 4, 'partidosGanados': 2, 'dineroGenerado': 300, 'mediaEspectadoresPorEquipo': 1000, 'entradasVendidasPorEquipo': 100, 'enfrentamientosJugados': [1, 2, 3]},
    {'equipoID': 2, 'nombreEq': 'termonuecleares', 'nombreJug1': 'Pedro', 'nombreJug2': 'Adrian', 'setsGanados': 4, 'setsPerdidos': 8, 'DifJuegos': -4, 'partidosGanados': 1, 'dineroGenerado': 200, 'mediaEspectadoresPorEquipo': 800, 'entradasVendidasPorEquipo': 80, 'enfrentamientosJugados': [5, 6, 7]},
    {'equipoID': 3, 'nombreEq': 'ElPAPITO', 'nombreJug1': 'Pablo', 'nombreJug2': 'Elena', 'setsGanados': 6, 'setsPerdidos': 3, 'DifJuegos': 3, 'partidosGanados': 2, 'dineroGenerado': 250, 'mediaEspectadoresPorEquipo': 900, 'entradasVendidasPorEquipo': 90, 'enfrentamientosJugados': [1, 5, 9]},
    {'equipoID': 4, 'nombreEq': 'LosPibes', 'nombreJug1': 'Elena', 'nombreJug2': 'Blanca', 'setsGanados': 3, 'setsPerdidos': 6, 'DifJuegos': -3, 'partidosGanados': 1, 'dineroGenerado': 150, 'mediaEspectadoresPorEquipo': 700, 'entradasVendidasPorEquipo': 70, 'enfrentamientosJugados': [2, 6, 10]},
    {'equipoID': 5, 'nombreEq': 'herculanos', 'nombreJug1': 'Carlos', 'nombreJug2': 'Ana', 'setsGanados': 7, 'setsPerdidos': 3, 'DifJuegos': 4, 'partidosGanados': 2, 'dineroGenerado': 300, 'mediaEspectadoresPorEquipo': 1000, 'entradasVendidasPorEquipo': 100, 'enfrentamientosJugados': [3, 7, 8]},
    {'equipoID': 6, 'nombreEq': 'Palilleros', 'nombreJug1': 'Federico', 'nombreJug2': 'Carlos', 'setsGanados': 4, 'setsPerdidos': 6, 'DifJuegos': -2, 'partidosGanados': 1, 'dineroGenerado': 200, 'mediaEspectadoresPorEquipo': 800, 'entradasVendidasPorEquipo': 80, 'enfrentamientosJugados': [4, 9, 5]},
    {'equipoID': 7, 'nombreEq': 'MaurosTeam', 'nombreJug1': 'Mauro', 'nombreJug2': 'Alex', 'setsGanados': 6, 'setsPerdidos': 3, 'DifJuegos': 3, 'partidosGanados': 2, 'dineroGenerado': 250, 'mediaEspectadoresPorEquipo': 900, 'entradasVendidasPorEquipo': 90, 'enfrentamientosJugados': [6, 7, 8]},
    {'equipoID': 8, 'nombreEq': 'ParricaElMejor', 'nombreJug1': 'Parra', 'nombreJug2': 'Teresa', 'setsGanados': 5, 'setsPerdidos': 4, 'DifJuegos': 1, 'partidosGanados': 2, 'dineroGenerado': 300, 'mediaEspectadoresPorEquipo': 1000, 'entradasVendidasPorEquipo': 100, 'enfrentamientosJugados': [1, 4, 10]},
    {'equipoID': 9, 'nombreEq': 'Ganadores', 'nombreJug1': 'Gonzalo', 'nombreJug2': 'Paco', 'setsGanados': 9, 'setsPerdidos': 2, 'DifJuegos': 7, 'partidosGanados': 3, 'dineroGenerado': 400, 'mediaEspectadoresPorEquipo': 1200, 'entradasVendidasPorEquipo': 120, 'enfrentamientosJugados': [2, 3, 9]},
    {'equipoID': 10, 'nombreEq': 'UltraTeam', 'nombreJug1': 'Ulises', 'nombreJug2': 'Luis', 'setsGanados': 4, 'setsPerdidos': 6, 'DifJuegos': -2, 'partidosGanados': 1, 'dineroGenerado': 200, 'mediaEspectadoresPorEquipo': 800, 'entradasVendidasPorEquipo': 80, 'enfrentamientosJugados': [4, 5, 6]}
]
dfPadelWorldCupListDicc = pd.DataFrame(padelWorldCupListDicc)
dfPadelWorldCupListDicc

,equipoID,nombreEq,nombreJug1,nombreJug2,setsGanados,setsPerdidos,DifJuegos,partidosGanados,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo,enfrentamientosJugados
0,1,electroingenieros,Juan,Pedrito,8,4,4,2,300,1000,100,"[1, 2, 3]"
1,2,termonuecleares,Pedro,Adrian,4,8,-4,1,200,800,80,"[5, 6, 7]"
2,3,ElPAPITO,Pablo,Elena,6,3,3,2,250,900,90,"[1, 5, 9]"
3,4,LosPibes,Elena,Blanca,3,6,-3,1,150,700,70,"[2, 6, 10]"
4,5,herculanos,Carlos,Ana,7,3,4,2,300,1000,100,"[3, 7, 8]"
5,6,Palilleros,Federico,Carlos,4,6,-2,1,200,800,80,"[4, 9, 5]"
6,7,MaurosTeam,Mauro,Alex,6,3,3,2,250,900,90,"[6, 7, 8]"
7,8,ParricaElMejor,Parra,Teresa,5,4,1,2,300,1000,100,"[1, 4, 10]"
8,9,Ganadores,Gonzalo,Paco,9,2,7,3,400,1200,120,"[2, 3, 9]"
9,10,UltraTeam,Ulises,Luis,4,6,-2,1,200,800,80,"[4, 5, 6]"

### 6.1.3. Creacion de un DataFrame a partir de un lista de listas:
para crear el DataFrame a partir de una lista de listas, primero se crea la lista de listas y luego se crea el DataFrame con la lista de listas como argumento del constructor de DataFrame.

In [82]:
padelWorldCupListOfList = [
    [1, 'electroingenieros', 'Juan', 'Pedrito', 8, 4, 4, 2, 300, 1000, 100, [1, 2, 3]],
    [2, 'termonuecleares', 'Pedro', 'Adrian', 4, 8, -4, 1, 200, 800, 80, [5, 6, 7]],
    [3, 'ElPAPITO', 'Pablo', 'Elena', 6, 3, 3, 2, 250, 900, 90, [1, 5, 9]],
    [4, 'LosPibes', 'Elena', 'Blanca', 3, 6, -3, 1, 150, 700, 70, [2, 6, 10]],
    [5, 'herculanos', 'Carlos', 'Ana', 7, 3, 4, 2, 300, 1000, 100, [3, 7, 8]],
    [6, 'Palilleros', 'Federico', 'Carlos', 4, 6, -2, 1, 200, 800, 80, [4, 9, 5]],
    [7, 'MaurosTeam', 'Mauro', 'Alex', 6, 3, 3, 2, 250, 900, 90, [6, 7, 8]],
    [8, 'ParricaElMejor', 'Parra', 'Teresa', 5, 4, 1, 2, 300, 1000, 100, [1, 4, 10]],
    [9, 'Ganadores', 'Gonzalo', 'Paco', 9, 2, 7, 3, 400, 1200, 120, [2, 3, 9]],
    [10, 'UltraTeam', 'Ulises', 'Luis', 4, 6, -2, 1, 200, 800, 80, [4, 5, 6]]]

dfPadelWorldCupListOfList = pd.DataFrame(padelWorldCupListOfList, columns=['equipoID', 'nombreEq', 'nombreJug1', 'nombreJug2', 'setsGanados', 'setsPerdidos', 'DifJuegos', 'partidosGanados', 'dineroGenerado', 'mediaEspectadoresPorEquipo', 'entradasVendidasPorEquipo', 'enfrentamientosJugados'])
dfPadelWorldCupListOfList

,equipoID,nombreEq,nombreJug1,nombreJug2,setsGanados,setsPerdidos,DifJuegos,partidosGanados,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo,enfrentamientosJugados
0,1,electroingenieros,Juan,Pedrito,8,4,4,2,300,1000,100,"[1, 2, 3]"
1,2,termonuecleares,Pedro,Adrian,4,8,-4,1,200,800,80,"[5, 6, 7]"
2,3,ElPAPITO,Pablo,Elena,6,3,3,2,250,900,90,"[1, 5, 9]"
3,4,LosPibes,Elena,Blanca,3,6,-3,1,150,700,70,"[2, 6, 10]"
4,5,herculanos,Carlos,Ana,7,3,4,2,300,1000,100,"[3, 7, 8]"
5,6,Palilleros,Federico,Carlos,4,6,-2,1,200,800,80,"[4, 9, 5]"
6,7,MaurosTeam,Mauro,Alex,6,3,3,2,250,900,90,"[6, 7, 8]"
7,8,ParricaElMejor,Parra,Teresa,5,4,1,2,300,1000,100,"[1, 4, 10]"
8,9,Ganadores,Gonzalo,Paco,9,2,7,3,400,1200,120,"[2, 3, 9]"
9,10,UltraTeam,Ulises,Luis,4,6,-2,1,200,800,80,"[4, 5, 6]"

## 6.2. Acceso a los elementos de un DataFrame
### 6.2.1. Acceso a las columnas de un DataFrame
columna individal:

In [83]:
dfPadelWorldCupDicc['nombreEq']

0    electroingenieros
1      termonuecleares
2             ElPAPITO
3             LosPibes
4           herculanos
5           Palilleros
6           MaurosTeam
7       ParricaElMejor
8            Ganadores
9            UltraTeam
Name: nombreEq, dtype: object

columnas multiples:

In [84]:
dfPadelWorldCupDicc[['nombreEq', 'nombreJug1', 'nombreJug2']]

            nombreEq nombreJug1 nombreJug2
0  electroingenieros       Juan    Pedrito
1    termonuecleares      Pedro     Adrian
2           ElPAPITO      Pablo      Elena
3           LosPibes      Elena     Blanca
4         herculanos     Carlos        Ana
5         Palilleros   Federico     Carlos
6         MaurosTeam      Mauro       Alex
7     ParricaElMejor      Parra     Teresa
8          Ganadores    Gonzalo       Paco
9          UltraTeam     Ulises       Luis

### 6.2.2. Acceso a las filas de un DataFrame
    fila individual:

In [85]:
dfPadelWorldCupDicc.iloc[0]

equipoID                                      1
nombreEq                      electroingenieros
nombreJug1                                 Juan
nombreJug2                              Pedrito
setsGanados                                   8
setsPerdidos                                  4
DifJuegos                                     4
partidosGanados                               2
dineroGenerado                              300
mediaEspectadoresPorEquipo                 1000
entradasVendidasPorEquipo                   100
enfrentamientosJugados                [1, 2, 3]
Name: 0, dtype: object

    filas multiples:

In [86]:
dfPadelWorldCupDicc.iloc[0:3]

,equipoID,nombreEq,nombreJug1,nombreJug2,setsGanados,setsPerdidos,DifJuegos,partidosGanados,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo,enfrentamientosJugados
0,1,electroingenieros,Juan,Pedrito,8,4,4,2,300,1000,100,"[1, 2, 3]"
1,2,termonuecleares,Pedro,Adrian,4,8,-4,1,200,800,80,"[5, 6, 7]"
2,3,ElPAPITO,Pablo,Elena,6,3,3,2,250,900,90,"[1, 5, 9]"

## 6.3. Operaciones con DataFrames
### 6.3.1. Filtrado

In [87]:
dfPadelWorldCupDicc[dfPadelWorldCupDicc['partidosGanados'] >= 2]

,equipoID,nombreEq,nombreJug1,nombreJug2,setsGanados,setsPerdidos,DifJuegos,partidosGanados,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo,enfrentamientosJugados
0,1,electroingenieros,Juan,Pedrito,8,4,4,2,300,1000,100,"[1, 2, 3]"
2,3,ElPAPITO,Pablo,Elena,6,3,3,2,250,900,90,"[1, 5, 9]"
4,5,herculanos,Carlos,Ana,7,3,4,2,300,1000,100,"[3, 7, 8]"
6,7,MaurosTeam,Mauro,Alex,6,3,3,2,250,900,90,"[6, 7, 8]"
7,8,ParricaElMejor,Parra,Teresa,5,4,1,2,300,1000,100,"[1, 4, 10]"
8,9,Ganadores,Gonzalo,Paco,9,2,7,3,400,1200,120,"[2, 3, 9]"

In [88]:
dfPadelWorldCupDicc.query("partidosGanados >= 2")[['nombreEq', 'nombreJug1', 'nombreJug2', 'partidosGanados']] #usamos query para filtrar y seleccionar columnas de manera simultanea

            nombreEq nombreJug1 nombreJug2  partidosGanados
0  electroingenieros       Juan    Pedrito                2
2           ElPAPITO      Pablo      Elena                2
4         herculanos     Carlos        Ana                2
6         MaurosTeam      Mauro       Alex                2
7     ParricaElMejor      Parra     Teresa                2
8          Ganadores    Gonzalo       Paco                3

### 6.3.2. Ordenacion

In [89]:
dfPadelWorldCupDicc.sort_values(by='partidosGanados', ascending=False)

,equipoID,nombreEq,nombreJug1,nombreJug2,setsGanados,setsPerdidos,DifJuegos,partidosGanados,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo,enfrentamientosJugados
8,9,Ganadores,Gonzalo,Paco,9,2,7,3,400,1200,120,"[2, 3, 9]"
0,1,electroingenieros,Juan,Pedrito,8,4,4,2,300,1000,100,"[1, 2, 3]"
2,3,ElPAPITO,Pablo,Elena,6,3,3,2,250,900,90,"[1, 5, 9]"
4,5,herculanos,Carlos,Ana,7,3,4,2,300,1000,100,"[3, 7, 8]"
6,7,MaurosTeam,Mauro,Alex,6,3,3,2,250,900,90,"[6, 7, 8]"
7,8,ParricaElMejor,Parra,Teresa,5,4,1,2,300,1000,100,"[1, 4, 10]"
1,2,termonuecleares,Pedro,Adrian,4,8,-4,1,200,800,80,"[5, 6, 7]"
3,4,LosPibes,Elena,Blanca,3,6,-3,1,150,700,70,"[2, 6, 10]"
5,6,Palilleros,Federico,Carlos,4,6,-2,1,200,800,80,"[4, 9, 5]"
9,10,UltraTeam,Ulises,Luis,4,6,-2,1,200,800,80,"[4, 5, 6]"

In [90]:
dfPadelWorldCupDicc.sort_values(by='dineroGenerado', ascending=False)[0:5][['nombreEq', 'nombreJug1', 'nombreJug2', 'dineroGenerado']] #ordenamos, seleccionamos las 5 primeras filas y seleccionamos columnas que deseamos de manera simultanea

            nombreEq nombreJug1 nombreJug2  dineroGenerado
8          Ganadores    Gonzalo       Paco             400
0  electroingenieros       Juan    Pedrito             300
4         herculanos     Carlos        Ana             300
7     ParricaElMejor      Parra     Teresa             300
2           ElPAPITO      Pablo      Elena             250

### 6.3.3. Estadisticas y calculos con DataFrames

In [91]:
print(dfPadelWorldCupDicc['dineroGenerado'].sum()) #suma
print(dfPadelWorldCupDicc['dineroGenerado'].mean()) #media
print(dfPadelWorldCupDicc['dineroGenerado'].max()) #maximo
print(dfPadelWorldCupDicc['dineroGenerado'].min()) #minimo
print(dfPadelWorldCupDicc['dineroGenerado'].std()) #desviacion estandar

print(dfPadelWorldCupDicc['dineroGenerado'].describe()) #resumen estadistico

2550
255.0
400
150
72.4568837309472
count     10.000000
mean     255.000000
std       72.456884
min      150.000000
25%      200.000000
50%      250.000000
75%      300.000000
max      400.000000
Name: dineroGenerado, dtype: float64

## 6.4. Modificacion de DataFrames
### 6.4.1. Aadir columnas

In [92]:

dfPadelWorldCupDicc['pais'] = ['Espaa','EEUU','China','URS','China','Nepal','Republica Democratica del Congo ','Espaa','China','Nigeria']


dfPadelWorldCupDicc[['nombreEq', 'pais']]

            nombreEq                              pais
0  electroingenieros                            Espaa
1    termonuecleares                              EEUU
2           ElPAPITO                             China
3           LosPibes                               URS
4         herculanos                             China
5         Palilleros                             Nepal
6         MaurosTeam  Republica Democratica del Congo
7     ParricaElMejor                            Espaa
8          Ganadores                             China
9          UltraTeam                           Nigeria

### 6.4.2. Eliminar columnas

In [93]:
dfPadelWorldCupDicc.drop(['pais',], axis=1)
# en este caso solo he eliminado la columna pais de la muestra, pero no del DataFrame original, ya que la columna pais la usaremos en ejemplos posteriores

,equipoID,nombreEq,nombreJug1,nombreJug2,setsGanados,setsPerdidos,DifJuegos,partidosGanados,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo,enfrentamientosJugados
0,1,electroingenieros,Juan,Pedrito,8,4,4,2,300,1000,100,"[1, 2, 3]"
1,2,termonuecleares,Pedro,Adrian,4,8,-4,1,200,800,80,"[5, 6, 7]"
2,3,ElPAPITO,Pablo,Elena,6,3,3,2,250,900,90,"[1, 5, 9]"
3,4,LosPibes,Elena,Blanca,3,6,-3,1,150,700,70,"[2, 6, 10]"
4,5,herculanos,Carlos,Ana,7,3,4,2,300,1000,100,"[3, 7, 8]"
5,6,Palilleros,Federico,Carlos,4,6,-2,1,200,800,80,"[4, 9, 5]"
6,7,MaurosTeam,Mauro,Alex,6,3,3,2,250,900,90,"[6, 7, 8]"
7,8,ParricaElMejor,Parra,Teresa,5,4,1,2,300,1000,100,"[1, 4, 10]"
8,9,Ganadores,Gonzalo,Paco,9,2,7,3,400,1200,120,"[2, 3, 9]"
9,10,UltraTeam,Ulises,Luis,4,6,-2,1,200,800,80,"[4, 5, 6]"

### 6.4.3. Aadir filas

In [94]:
dfPadelWorldCupDicc.loc[10] = [11,'TT','Pepito','Helen',4,4,0,1,100,700,102,[1,3,4], 'Espaa']

In [95]:
dfPadelWorldCupDicc.sort_values(by='equipoID',ascending=False)

,equipoID,nombreEq,nombreJug1,nombreJug2,setsGanados,setsPerdidos,DifJuegos,partidosGanados,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo,enfrentamientosJugados,pais
10,11,TT,Pepito,Helen,4,4,0,1,100,700,102,"[1, 3, 4]",Espaa
9,10,UltraTeam,Ulises,Luis,4,6,-2,1,200,800,80,"[4, 5, 6]",Nigeria
8,9,Ganadores,Gonzalo,Paco,9,2,7,3,400,1200,120,"[2, 3, 9]",China
7,8,ParricaElMejor,Parra,Teresa,5,4,1,2,300,1000,100,"[1, 4, 10]",Espaa
6,7,MaurosTeam,Mauro,Alex,6,3,3,2,250,900,90,"[6, 7, 8]",Republica Democratica del Congo
5,6,Palilleros,Federico,Carlos,4,6,-2,1,200,800,80,"[4, 9, 5]",Nepal
4,5,herculanos,Carlos,Ana,7,3,4,2,300,1000,100,"[3, 7, 8]",China
3,4,LosPibes,Elena,Blanca,3,6,-3,1,150,700,70,"[2, 6, 10]",URS
2,3,ElPAPITO,Pablo,Elena,6,3,3,2,250,900,90,"[1, 5, 9]",China
1,2,termonuecleares,Pedro,Adrian,4,8,-4,1,200,800,80,"[5, 6, 7]",EEUU
0,1,electroingenieros,Juan,Pedrito,8,4,4,2,300,1000,100,"[1, 2, 3]",Espaa

### 6.4.4. Eliminar filas

In [96]:
dfPadelWorldCupDicc = dfPadelWorldCupDicc.drop([10])
dfPadelWorldCupDicc.sort_values(by='equipoID',ascending=False)

,equipoID,nombreEq,nombreJug1,nombreJug2,setsGanados,setsPerdidos,DifJuegos,partidosGanados,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo,enfrentamientosJugados,pais
9,10,UltraTeam,Ulises,Luis,4,6,-2,1,200,800,80,"[4, 5, 6]",Nigeria
8,9,Ganadores,Gonzalo,Paco,9,2,7,3,400,1200,120,"[2, 3, 9]",China
7,8,ParricaElMejor,Parra,Teresa,5,4,1,2,300,1000,100,"[1, 4, 10]",Espaa
6,7,MaurosTeam,Mauro,Alex,6,3,3,2,250,900,90,"[6, 7, 8]",Republica Democratica del Congo
5,6,Palilleros,Federico,Carlos,4,6,-2,1,200,800,80,"[4, 9, 5]",Nepal
4,5,herculanos,Carlos,Ana,7,3,4,2,300,1000,100,"[3, 7, 8]",China
3,4,LosPibes,Elena,Blanca,3,6,-3,1,150,700,70,"[2, 6, 10]",URS
2,3,ElPAPITO,Pablo,Elena,6,3,3,2,250,900,90,"[1, 5, 9]",China
1,2,termonuecleares,Pedro,Adrian,4,8,-4,1,200,800,80,"[5, 6, 7]",EEUU
0,1,electroingenieros,Juan,Pedrito,8,4,4,2,300,1000,100,"[1, 2, 3]",Espaa

## 6.5. Iteracion sobre DataFrames
### 6.5.1. Iteracion sobre filas

In [97]:
for index, row in dfPadelWorldCupDicc.iterrows():
    print(row['nombreEq'],':', row['nombreJug1'],',', row['nombreJug2'])

electroingenieros : Juan , Pedrito
termonuecleares : Pedro , Adrian
ElPAPITO : Pablo , Elena
LosPibes : Elena , Blanca
herculanos : Carlos , Ana
Palilleros : Federico , Carlos
MaurosTeam : Mauro , Alex
ParricaElMejor : Parra , Teresa
Ganadores : Gonzalo , Paco
UltraTeam : Ulises , Luis

### 6.5.2. Iteracion sobre columnas

In [98]:
for column, values in dfPadelWorldCupDicc.items():
    print(column, values.values)

equipoID [ 1  2  3  4  5  6  7  8  9 10]
nombreEq ['electroingenieros' 'termonuecleares' 'ElPAPITO' 'LosPibes' 'herculanos'
 'Palilleros' 'MaurosTeam' 'ParricaElMejor' 'Ganadores' 'UltraTeam']
nombreJug1 ['Juan' 'Pedro' 'Pablo' 'Elena' 'Carlos' 'Federico' 'Mauro' 'Parra'
 'Gonzalo' 'Ulises']
nombreJug2 ['Pedrito' 'Adrian' 'Elena' 'Blanca' 'Ana' 'Carlos' 'Alex' 'Teresa' 'Paco'
 'Luis']
setsGanados [8 4 6 3 7 4 6 5 9 4]
setsPerdidos [4 8 3 6 3 6 3 4 2 6]
DifJuegos [ 4 -4  3 -3  4 -2  3  1  7 -2]
partidosGanados [2 1 2 1 2 1 2 2 3 1]
dineroGenerado [300 200 250 150 300 200 250 300 400 200]
mediaEspectadoresPorEquipo [1000  800  900  700 1000  800  900 1000 1200  800]
entradasVendidasPorEquipo [100  80  90  70 100  80  90 100 120  80]
enfrentamientosJugados [list([1, 2, 3]) list([5, 6, 7]) list([1, 5, 9]) list([2, 6, 10])
 list([3, 7, 8]) list([4, 9, 5]) list([6, 7, 8]) list([1, 4, 10])
 list([2, 3, 9]) list([4, 5, 6])]
pais ['Espaa' 'EEUU' 'China' 'URS' 'China' 'Nepal'
 'Republica Democratica del Congo ' 'Espaa' 'China' 'Nigeria']

## 6.6. Union de DataFrames
### 6.6.1. Union de dos DataFrames
el metodo merge permite unir dos DataFrames en base a una columna en comun

In [99]:
dfPadelWorldCupDicc1 = dfPadelWorldCupDicc[0:5][['equipoID', 'nombreEq', 'nombreJug1', 'nombreJug2']]

wpDicc = {
    'nombreEq':     ['LosPibes','herculanos','Palilleros'],
    'ciudad':       ['Madrid','Barcelona','Valencia'],
    'DNI':        ['12345678A','87654321B','12348765C'],
}

dfPadelWorldCupDicc2 = pd.DataFrame(wpDicc)

df_nuevo = pd.merge(dfPadelWorldCupDicc1, dfPadelWorldCupDicc2, on='nombreEq')
df_nuevo

   equipoID    nombreEq nombreJug1 nombreJug2     ciudad        DNI
0         4    LosPibes      Elena     Blanca     Madrid  12345678A
1         5  herculanos     Carlos        Ana  Barcelona  87654321B

### 6.6.2. Union de varios DataFrames

In [100]:
#Ejecutar el codigo de la celda anterior antes de ejecutar este

wpDicc2 = {
    'nombreEq':     ['LosPibes','herculanos','Palilleros'],
    'numeroSocios': [100, 200, 300],
    'numTel':       ['123456789','987654321','12348765'],
}

dfPadelWorldCupDicc3 = pd.DataFrame(wpDicc2)
df_nuevo = pd.merge(dfPadelWorldCupDicc1, dfPadelWorldCupDicc2, on='nombreEq')
df_nuevo = pd.merge(df_nuevo, dfPadelWorldCupDicc3, on='nombreEq')
df_nuevo

,equipoID,nombreEq,nombreJug1,nombreJug2,ciudad,DNI,numeroSocios,numTel
0,4,LosPibes,Elena,Blanca,Madrid,12345678A,100,123456789
1,5,herculanos,Carlos,Ana,Barcelona,87654321B,200,987654321

## 6.7. Agrupacion y agregacion de DataFrames
### 6.7.1. Agrupacion y agregacion de DataFrames por una columna

In [101]:
#Ejecutar el codigo de la celta 6.4.1 antes de ejecutar este

dfPadelWorldCupDicc.groupby('pais').agg({'dineroGenerado': 'sum', 'mediaEspectadoresPorEquipo': 'mean', 'entradasVendidasPorEquipo': 'sum'})

,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo
pais,,,
China,950,1033.333333,310
EEUU,200,800.000000,80
Espaa,600,1000.000000,200
Nepal,200,800.000000,80
Nigeria,200,800.000000,80
Republica Democratica del Congo,250,900.000000,90
URS,150,700.000000,70

### 6.7.2. Agrupacion y agregacion de DataFrames por varias columnas

In [102]:
dfPadelWorldCupDicc.groupby(['pais', 'dineroGenerado']).agg({'dineroGenerado': 'sum', 'mediaEspectadoresPorEquipo': 'mean', 'entradasVendidasPorEquipo': 'sum'})

#nos damos cuenta de que china tiene 3 equipos que han generado distintas cantidades de dinero, mientras que espaa tiene 2 equipos que han generado la misma cantidad de dinero

                                                 dineroGenerado  \
pais                             dineroGenerado
China                            250                        250
                                 300                        300
                                 400                        400
EEUU                             200                        200
Espaa                           300                        600
Nepal                            200                        200
Nigeria                          200                        200
Republica Democratica del Congo  250                        250
URS                              150                        150

                                                 mediaEspectadoresPorEquipo  \
pais                             dineroGenerado
China                            250                                  900.0
                                 300                                 1000.0
                                 400                                 1200.0
EEUU                             200                                  800.0
Espaa                           300                                 1000.0
Nepal                            200                                  800.0
Nigeria                          200                                  800.0
Republica Democratica del Congo  250                                  900.0
URS                              150                                  700.0

                                                 entradasVendidasPorEquipo
pais                             dineroGenerado
China                            250                                    90
                                 300                                   100
                                 400                                   120
EEUU                             200                                    80
Espaa                           300                                   200
Nepal                            200                                    80
Nigeria                          200                                    80
Republica Democratica del Congo  250                                    90
URS                              150                                    70

## 6.8. Lectura y escritura de DataFrames
### 6.8.1. Escritura de DataFrames desde un fichero CSV

In [103]:
#Escribiremos el DataFrame dfPadelWorldCupDicc en un fichero CSV antes de leerlo porque si no el ejemplo no tendria sentido

dfPadelWorldCupDicc.to_csv('padelWorldCupDicc.csv', index=False)

### 6.8.2. Lectura de DataFrames desde un fichero CSV

In [104]:
dfCSV = pd.read_csv('padelWorldCupDicc.csv')
dfCSV

,equipoID,nombreEq,nombreJug1,nombreJug2,setsGanados,setsPerdidos,DifJuegos,partidosGanados,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo,enfrentamientosJugados,pais
0,1,electroingenieros,Juan,Pedrito,8,4,4,2,300,1000,100,"[1, 2, 3]",Espaa
1,2,termonuecleares,Pedro,Adrian,4,8,-4,1,200,800,80,"[5, 6, 7]",EEUU
2,3,ElPAPITO,Pablo,Elena,6,3,3,2,250,900,90,"[1, 5, 9]",China
3,4,LosPibes,Elena,Blanca,3,6,-3,1,150,700,70,"[2, 6, 10]",URS
4,5,herculanos,Carlos,Ana,7,3,4,2,300,1000,100,"[3, 7, 8]",China
5,6,Palilleros,Federico,Carlos,4,6,-2,1,200,800,80,"[4, 9, 5]",Nepal
6,7,MaurosTeam,Mauro,Alex,6,3,3,2,250,900,90,"[6, 7, 8]",Republica Democratica del Congo
7,8,ParricaElMejor,Parra,Teresa,5,4,1,2,300,1000,100,"[1, 4, 10]",Espaa
8,9,Ganadores,Gonzalo,Paco,9,2,7,3,400,1200,120,"[2, 3, 9]",China
9,10,UltraTeam,Ulises,Luis,4,6,-2,1,200,800,80,"[4, 5, 6]",Nigeria

### 6.8.3. Escritura de DataFrames desde un fichero Excel

In [105]:
dfPadelWorldCupDicc.to_excel('padelWorldCupDicc.xlsx', index=False)

### 6.8.4. Lectura de DataFrames desde un fichero Excel

In [106]:
dfExcel = pd.read_excel('padelWorldCupDicc.xlsx')
dfExcel

,equipoID,nombreEq,nombreJug1,nombreJug2,setsGanados,setsPerdidos,DifJuegos,partidosGanados,dineroGenerado,mediaEspectadoresPorEquipo,entradasVendidasPorEquipo,enfrentamientosJugados,pais
0,1,electroingenieros,Juan,Pedrito,8,4,4,2,300,1000,100,"[1, 2, 3]",Espaa
1,2,termonuecleares,Pedro,Adrian,4,8,-4,1,200,800,80,"[5, 6, 7]",EEUU
2,3,ElPAPITO,Pablo,Elena,6,3,3,2,250,900,90,"[1, 5, 9]",China
3,4,LosPibes,Elena,Blanca,3,6,-3,1,150,700,70,"[2, 6, 10]",URS
4,5,herculanos,Carlos,Ana,7,3,4,2,300,1000,100,"[3, 7, 8]",China
5,6,Palilleros,Federico,Carlos,4,6,-2,1,200,800,80,"[4, 9, 5]",Nepal
6,7,MaurosTeam,Mauro,Alex,6,3,3,2,250,900,90,"[6, 7, 8]",Republica Democratica del Congo
7,8,ParricaElMejor,Parra,Teresa,5,4,1,2,300,1000,100,"[1, 4, 10]",Espaa
8,9,Ganadores,Gonzalo,Paco,9,2,7,3,400,1200,120,"[2, 3, 9]",China
9,10,UltraTeam,Ulises,Luis,4,6,-2,1,200,800,80,"[4, 5, 6]",Nigeria